body {
  background-color: pink;
}

h1 {
  color: #5a12a8;
  font-family: sans-serif;
}

.flashy {
  font-style: italic;
  color: red;
}

img {
  padding: 20px;
}

.best {
  border-style:dotted;
  border-width: 10px;
  border-color: yellow;
  border-radius: 20px;
}
